<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'user_id': '<%= currentUser.id %>'
        })
    </script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">سامبلز</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"> الرئيسية <span class="sr-only"></span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/myBag">حقيبتي</a>

                </li>


            </ul>
            <ul class="navbar-nav">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <%= currentUser.username %>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile/<%= currentUser.id %>">الحساب</a></li>
                        <li><a class="dropdown-item" href="/logout">خروج</a></li>
                        <% if(currentUser.memberShip=='admin' ) { %>
                            <a class="dropdown-item" href="/admin/<%= currentUser.id %>/findEmail">admin</a>

                            <% } %>
                    </ul>
                </li>
                <% if(currentUser.memberShip=="free" || currentUser.memberShip=="Pro" ) { %>
                    <li class="nav-item">
                        <a href="/pay/<%= currentUser.id %>" class="nav-link  btn btn-outline-primary"
                            id="upgradeButton">ترقية العضوية <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                                <path
                                    d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z" />
                            </svg>
                        </a>
                        <% } %>
                    </li>

            </ul>
        </div>
</nav>


<div class="container">
    <% if(error && error.length> 0) { %>
        <div class="alert alert-danger " role="alert">
            <%= error %>
        </div>
        <% } %>
            <% if(success && success.length> 0) { %>
                <div class="alert alert-success text-center">
                    <%= success %>
                </div>
                <% } %>

                    <!-- Google Tag Manager (noscript) -->
                    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZHK7WQ" height="0" width="0"
                            style="display:none;visibility:hidden"></iframe></noscript>
                    <!-- End Google Tag Manager (noscript) -->

</div>