<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="icon" href="/image/circleLogo.svg">
    <%- include ('../partails/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="../stylesheets/myBag.css">
        <title>حقيبتي | سامبلز </title>

</head>

<body>


    <%- include ('../partails/subHeader.ejs') %>
        <div class="container">
            <div class="row">
                <% if(currentUser.memberShip=="free" ) { %>
                    <div class="col">
                        <div class="card">
                            <a href="/trainingExamsPage/<%= currentUser.id%>" class="btn shadow-none">

                                <div class="card-body">

                                    <h5 class="card-title">الاختبارات
                                        التجريبية</h5>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col">
                        <div class="card">

                            <a href="/courseDetailes" class="btn shadow-none">

                                <div class="card-body">
                                    <h5 class="card-title">الدورة
                                        التدريبية</h5>
                                </div>
                            </a>

                        </div>

                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/Quizzes/<%= currentUser.id %>" class="btn shadow-none">

                                <div class="card-body">
                                    <h5 class="card-title"> الاختبارات
                                        القصيرة</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <% } %>
                        <% if( currentUser.memberShip=="Pro" ){ %>
                            <div class="col">
                                <div class="card">
                                    <a href="/trainingExamsPage/<%= currentUser.id%>" class="btn shadow-none">
                                        <div class="card-body">

                                            <h5 class="card-title">الاختبارات
                                                التجريبية</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class=" col">
                                <div class="card">
                                    <a href="/courseDetailes" class="btn shadow-none">
                                        <div class="card-body">
                                            <h5 class="card-title">الدورة
                                                التدريبية</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <a href="/Quizzes/<%= currentUser.id %>" class="btn shadow-none">
                                        <div class="card-body">
                                            <h5 class="card-title"> الاختبارات
                                                القصيرة</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <% } %>
                                <% if(currentUser.memberShip=="gold" || currentUser.memberShip=="admin" ) { %>
                                    <div class="col">
                                        <div class="card">
                                            <a href="/trainingExamsPage/<%= currentUser.id%>" class="btn shadow-none">
                                                <div class="card-body">
                                                    <h5 class="card-title">الاختبارات
                                                        التجريبية</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <a href="/courseTwo/<%= currentUser.id %>" class="btn shadow-none">
                                                <div class="card-body">

                                                    <h5 class="card-title">الدورة
                                                        التدريبية</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <a href="/Quizzes/<%= currentUser.id %>" class="btn shadow-none">

                                                <div class="card-body">

                                                    <h5 class="card-title"> الاختبارات
                                                        القصيرة</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <% } %>
            </div>
        </div>
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-b7f3b061-00bc-41c3-968b-3b0ef1723700"></div>

        <script type="text/javascript">
        </script>
        <%- include ('../partails/footer.ejs') %>
</body>

</html>