<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119528477-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-119528477-3');
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KZHK7WQ');</script>
    <!-- End Google Tag Manager -->

    <link rel="icon" href="/image/circleLogo.svg">
    <% include ../partails/head.ejs %>
        <link rel="stylesheet" type="text/css" href="../stylesheets/myBag.css">
        <title>حقيبتي | سامبلز </title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZHK7WQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <% include ../partails/subHeader.ejs %>
        <div class="container">
            <div class="row">
                <% if(currentUser.memberShip=="free" ) { %>
                    <div class="col-md-4">
                        <div class="card">
                            <a href="/trainingExamsPage/<%= currentUser.id%>">
                                <img class="card-img-top" id="ExamImage" src="../image/Exam.svg" alt="Exams Page">
                                <div class="card-body">
                                    <hr>
                                    <h5 class="card-title" style="padding-bottom: 32px;">الاختبارات
                                        التجريبية</h5>
                                    <p class="card-text">خمس اختبارات تجريبية بمعاير اختبار ستيب</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" id="locked">
                            <a href="/courseTwo/<%= currentUser.id %>" class="btn disabled">
                                <img class="card-img-top" id="CourseImagese" src="../image/CourseImage.svg"
                                    alt="first test">
                                <div class="card-body">
                                    <hr>
                                    <h5 class="card-title" style="padding-bottom: 32px;">الدورة
                                        التدريبية</h5>
                                    <p class="card-text">الدورة التدريبية الخاصة باختبار ستيب</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" id="locked">
                            <a href="/Quizzes/<%= currentUser.id %>" class="btn disabled">
                                <img class="card-img-top" id="QuizImage" src="../image/Quiz.svg" alt="first test">
                                <div class="card-body">
                                    <hr>
                                    <h5 class="card-title" style="padding-bottom: 32px;"> الاختبارات
                                        القصيرة</h5>
                                    <p class="card-text">اختبارات قصيرة حسب المهارة</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <% } %>
                        <% if( currentUser.memberShip=="Pro" ){ %>
                            <div class="col-md-4">
                                <div class="card">
                                    <a href="/trainingExamsPage/<%= currentUser.id%>">
                                        <img class="card-img-top" id="ExamImage" src="../image/Exam.svg"
                                            alt="first test">
                                        <div class="card-body">
                                            <hr>
                                            <h5 class="card-title" style="padding-bottom: 32px;">الاختبارات
                                                التجريبية</h5>
                                            <p class="card-text">خمس اختبارات تجريبية بمعاير اختبار ستيب</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" id="locked">
                                    <a href="/courseTwo/<%= currentUser.id %>" class="btn disabled">
                                        <img class="card-img-top" id="CourseImagese" src="../image/CourseImage.svg"
                                            alt="first test">
                                        <div class="card-body">
                                            <hr>
                                            <h5 class="card-title" style="padding-bottom: 32px;">الدورة
                                                التدريبية</h5>
                                            <p class="card-text">الدورة التدريبية الخاصة باختبار ستيب</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" id="locked">
                                    <a href="/Quizzes/<%= currentUser.id %>" class="btn disabled">
                                        <img class="card-img-top" id="QuizImage" src="../image/Quiz.svg"
                                            alt="first test">
                                        <div class="card-body">
                                            <hr>
                                            <h5 class="card-title" style="padding-bottom: 32px;"> الاختبارات
                                                القصيرة</h5>
                                            <p class="card-text">اختبارات قصيرة حسب المهارة</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <% } %>
                                <% if(currentUser.memberShip=="gold" || currentUser.memberShip=="admin" ) { %>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <a href="/courseTwo/<%= currentUser.id %>">
                                                <img class="card-img-top" id="CourseImagese"
                                                    src="../image/CourseImage.svg" alt="first test">
                                                <div class="card-body">
                                                    <hr>
                                                    <h5 class="card-title" style="padding-bottom: 32px;">الدورة
                                                        التدريبية</h5>
                                                    <p class="card-text">الدورة التدريبية الخاصة باختبار ستيب</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <a href="/Quizzes/<%= currentUser.id %>">
                                                <img class="card-img-top" id="QuizImage" src="../image/Quiz.svg"
                                                    alt="first test">
                                                <div class="card-body">
                                                    <hr>
                                                    <h5 class="card-title" style="padding-bottom: 32px;"> الاختبارات
                                                        القصيرة</h5>
                                                    <p class="card-text">اختبارات قصيرة حسب المهارة</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <a href="/trainingExamsPage/<%= currentUser.id%>">
                                                <img class="card-img-top" id="ExamImage" src="../image/Exam.svg"
                                                    alt="first test">
                                                <div class="card-body">
                                                    <hr>
                                                    <h5 class="card-title" style="padding-bottom: 32px;">الاختبارات
                                                        التجريبية</h5>
                                                    <p class="card-text">خمس اختبارات تجريبية بمعاير اختبار ستيب</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <% } %>

            </div>
            <script type="text/javascript">
            </script>
            <!-- whatsApp widget -->
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-94449513-5f73-4186-9bda-5125b199883e"></div>
            <% include ../partails/footer.ejs %>
</body>

</html>