<!DOCTYPE html>
<html lang="en">
    <% include ../partails/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/testPage.css">
  </head>
  <body>

    <% include ../partails/subHeader.ejs %>

  <div class="container">
  	<div class="row">
  		<% if(currentUser.memberShip == "free" || currentUser.memberShip == "pro" || currentUser.memberShip == "gold") { %>
  		<div class="col-md-4">
  	      <div class="card">
		  		<img class="card-img-top" src="../image/one.png"  alt="first test">
		  		<div class="card-body">	
		  			<hr>
		  			<h5 class="card-title" style="padding-bottom: 32px;">الأختبار الأول</h5>
		  		    <a href="/testOne/<%= userInfo.id %>" class="btn btn-primary"> إبداء الأختبار</a> 
		  		    <a href="/result/category/test/<%= userInfo.id %>" class="btn btn-success">نتيجة الاختبار</a>
		  		</div>	 
		  	</div>
		</div>
		<% } %> 
		<% if(currentUser.memberShip == "pro" || currentUser.memberShip == "gold") { %>
		<div class="col-md-4">
  	      <div class="card">
		  		<img class="card-img-top" src="../image/two.png"  alt="first test">
		  		<div class="card-body">
		  			<hr>
		  			<h5 class="card-title" style="padding-bottom: 32px;">الأختبار الثاني</h5>
		  			<a href="/testTwo/<%= userInfo.id %>" class="btn btn-primary"> إبداء الأختبار</a>
		  			
		  			<a href="/result/listening/test/<%= userInfo.id %>" class="btn btn-success">نتيجة الاختبار</a>
		  		</div>
		  	</div>
		</div>
		<% } %>
		<% if(currentUser.memberShip == "gold") { %>
		<div class="col-md-4">
  	      <div class="card">
		  		<img class="card-img-top" src="../image/verified.png"  alt="first test">
		  		<div class="card-body">
		  			<hr>
		  			<h5 class="card-title" style="padding-bottom: 32px;">الأختبار الثالث</h5>
		  			<a href="#" class="btn btn-primary"> إبداء الأختبار
		  			<a href="/result/<%= userInfo.id %>/test/three" class="btn btn-success"> نتيجة الاختبار</a>
		  		</div>
		  </div>
		</div>
		<% } %>
	  </div>
  </div>

     
     <% include ../partails/footer.ejs %>


  </body>
