<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119528477-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119528477-3');
        gtag('config', 'AW-803667198');
    </script>
    <link rel="icon" href="/image/circleLogo.svg">
    <% include ../partails/head.ejs %>
        <link rel="stylesheet" type="text/css" href="../stylesheets/trainingExamsPage.css">
        <title> الاختبارات التجريبية| سامبلز </title>

</head>

<body>

    <% include ../partails/headerMyBag.ejs %>
        <div class="container">
            <div class="row">
                <% if(currentUser.memberShip=="free" ) { %>

                    <div class="col">
                        <div class="card">
                            <a href="/instruction/<%= currentUser.id%>" class="btn shadow-none">
                                <img class="card-img-top" src="../image/one.svg" alt="first test">
                                <div class="card-body">
                                    <hr>
                                    <h5 class="card-title" style="padding-bottom: 32px;">الاختبار الأول</h5>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/pay/<%= currentUser.id %>" id="locked" class="btn shadow-none">
                                <img class="card-img-top upgrade" src="../image/two.svg" alt="first test">
                                <div class="card-body upgrade">
                                    <hr>
                                    <h5 class="card-title" style="padding-bottom: 32px;">الاختبار الثاني</h5>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/pay/<%= currentUser.id %>" id="locked" class="btn shadow-none">
                                <img class="card-img-top upgrade" src="../image/three.svg" alt="first test">
                                <div class="card-body upgrade">
                                    <hr>
                                    <h5 class="card-title" style="padding-bottom: 32px;">الاختبار الثالث</h5>

                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card">
                            <a href="/pay/<%= currentUser.id %>" id="locked" class="btn shadow-none">
                                <img class="card-img-top upgrade" src="../image/four.svg" alt="first test">
                                <div class="card-body upgrade">
                                    <hr>
                                    <h5 class="card-title" style="padding-bottom: 32px;">الاختبار الرابع</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/pay/<%= currentUser.id %>" id="locked" class="btn shadow-none">
                                <img class="card-img-top upgrade" src="../image/five.svg" alt="first test">
                                <div class="card-body upgrade">
                                    <hr>
                                    <h5 class="card-title" style="padding-bottom: 32px;">الاختبار الخامس</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/pay/<%= currentUser.id %>" id="locked" class="btn shadow-none">
                                <img class="card-img-top upgrade" src="../image/six.svg" alt="first test">
                                <div class="card-body upgrade">
                                    <hr>
                                    <h5 class="card-title" style="padding-bottom: 32px;">الاختبار السادس</h5>

                                </div>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
        <% } %>
            <% if(currentUser.memberShip=="gold" || currentUser.memberShip=="admin" || currentUser.memberShip=="Pro" ) {
                %>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <a href="/Exam/examOne/<%= currentUser.id%>" class="btn shadow-none">
                                    <img class="card-img-top" src="../image/one.svg" alt="first test">
                                    <div class="card-body">
                                        <hr>
                                        <h5 class="card-title" style="padding-bottom: 32px;">الاختبار الأول</h5>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="/Exam/examTwo/<%= currentUser.id %>" class="btn shadow-none">
                                    <img class="card-img-top" src="../image/two.svg" alt="first test">
                                    <div class="card-body">
                                        <hr>
                                        <h5 class="card-title" style="padding-bottom: 32px;">الاختبار الثاني</h5>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="/Exam/examThree/<%= currentUser.id %>" class="btn shadow-none">
                                    <img class="card-img-top" src="../image/three.svg" alt="first test">
                                    <div class="card-body">
                                        <hr>
                                        <h5 class="card-title" style="padding-bottom: 32px;">الاختبار الثالث</h5>

                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="col">
                            <div class="card">
                                <a href="/Exam/examFour/<%= currentUser.id %>" class="btn shadow-none">
                                    <img class="card-img-top" src="../image/four.svg" alt="first test">
                                    <div class="card-body">
                                        <hr>
                                        <h5 class="card-title" style="padding-bottom: 32px;">الاختبار الرابع</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="/Exam/examFive/<%= currentUser.id %>" class="btn shadow-none">
                                    <img class="card-img-top" src="../image/five.svg" alt="first test">
                                    <div class="card-body">
                                        <hr>
                                        <h5 class="card-title" style="padding-bottom: 32px;">الاختبار الخامس</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="/Exam/examSix/<%= currentUser.id %>" class="btn shadow-none">
                                    <img class="card-img-top" src="../image/six.svg" alt="first test">
                                    <div class="card-body">
                                        <hr>
                                        <h5 class="card-title" style="padding-bottom: 32px;">الاختبار السادس</h5>

                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>

                <script type="text/javascript">
                </script>
                <% include ../partails/footer.ejs %>
</body>

</html>