<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="icon" href="/image/circleLogo.svg">
    <% include ../partails/head.ejs %>
        <link rel="stylesheet" type="text/css" href="../stylesheets/trainingExamsPage.css">

        <title> الاختبارات التجريبية| سامبلز </title>

</head>

<body>

    <% include ../partails/headerMyBag.ejs %>
        <div class="container">
            <div class="row">
                <% if(currentUser.memberShip=="free" ) { %>

                    <div class="col">
                        <div class="card">
                            <a type="button" class="btn shadow-none" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                <div class="card-body">




                                    <h5 class="card-title">الاختبار الأول</h5>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/pay/<%= currentUser.id %>" class="btn shadow-none">
                                <div class="upgrade"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                                        <path
                                            d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z" />
                                    </svg> ترقية العضوية</div>


                                <div class="card-body" id="locked">

                                    <h5 class="card-title">الاختبار الثاني</h5>

                                </div>


                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">

                            <a href="/pay/<%= currentUser.id %>" class="btn shadow-none">
                                <div class="upgrade"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                                        <path
                                            d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z" />
                                    </svg> ترقية العضوية</div>

                                <div class="card-body" id="locked">
                                    <h5 class="card-title">الاختبار الثالث</h5>

                                </div>

                            </a>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card">

                            <a href="/pay/<%= currentUser.id %>" class="btn shadow-none">
                                <div class="upgrade"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                                        <path
                                            d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z" />
                                    </svg> ترقية العضوية</div>

                                <div class="card-body" id="locked">

                                    <h5 class="card-title">الاختبار الرابع</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">

                            <a href="/pay/<%= currentUser.id %>" class="btn shadow-none">
                                <div class="upgrade"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                                        <path
                                            d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z" />
                                    </svg> ترقية العضوية</div>


                                <div class="card-body" id="locked">

                                    <h5 class="card-title">الاختبار الخامس</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">

                            <a href="/pay/<%= currentUser.id %>" class="btn shadow-none">
                                <div class="upgrade"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                        fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                                        <path
                                            d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z" />
                                    </svg> ترقية العضوية</div>


                                <div class="card-body" id="locked">

                                    <h5 class="card-title">الاختبار السادس</h5>

                                </div>
                            </a>
                        </div>
                    </div>

                    <% } %>
                        <% if(currentUser.memberShip=="gold" || currentUser.memberShip=="admin" ||
                            currentUser.memberShip=="Pro" ) { %>

                            <div class="col">
                                <div class="card">
                                    <a href="/Exam/examOne/<%= currentUser.id%>" class="btn shadow-none">

                                        <div class="card-body">

                                            <h5 class="card-title">الاختبار الأول</h5>

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <a href="/Exam/examTwo/<%= currentUser.id %>" class="btn shadow-none">

                                        <div class="card-body">

                                            <h5 class="card-title">الاختبار الثاني</h5>

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <a href="/Exam/examThree/<%= currentUser.id %>" class="btn shadow-none">

                                        <div class="card-body">

                                            <h5 class="card-title">الاختبار الثالث</h5>

                                        </div>
                                    </a>
                                </div>
                            </div>


                            <div class="col">
                                <div class="card">
                                    <a href="/Exam/examFour/<%= currentUser.id %>" class="btn shadow-none">

                                        <div class="card-body">

                                            <h5 class="card-title">الاختبار الرابع</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <a href="/Exam/examFive/<%= currentUser.id %>" class="btn shadow-none">

                                        <div class="card-body">

                                            <h5 class="card-title">الاختبار الخامس</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <a href="/Exam/examSix/<%= currentUser.id %>" class="btn shadow-none">

                                        <div class="card-body">

                                            <h5 class="card-title">الاختبار السادس</h5>

                                        </div>
                                    </a>
                                </div>
                            </div>
            </div>
            <% } %>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" dir="rtl">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">تنبيه</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        الرجاء التأكد من جاهزيتك قبل دخول الاختبار، لديك محاولة واحدة فقط لمدة ٢٤ ساعة
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الاختبار في وقت
                            آخر</button>
                        <a href="/Exam/examOne/<%= currentUser.id %>" class="btn btn-success btn">ابدأ الاختبار
                            الآن</a>

                    </div>
                </div>
            </div>
        </div>

        <% include ../partails/footer.ejs %>
</body>

</html>