<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119528477-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119528477-3');
        gtag('config', 'AW-803667198');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KZHK7WQ');</script>
    <!-- End Google Tag Manager -->

    <% include ../partails/head.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/checkoutPage.css">
        <title>بيانات الدفع</title>
        <link rel="icon" href="/image/circleLogo.svg">

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZHK7WQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <% include ../partails/headerMyBag.ejs %>


        <h3 class="h3 mb-3 font-weight-normal text-center" id="title">تفاصيل الباقة</h3>
        <div class="container">
            <form>
                <div class="form-group row">
                    <div class="col">
                        <label for="inputEmail3" class="col">
                            <%= currentUser.email %>
                        </label>
                    </div>
                    <label for="inputEmail3" class="col"> : الإيميل </label>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <% if(foundPayment.memberShip=="Pro" ) { %>
                            <label for="inputEmail3" class="col">
                                <%= foundPayment.price %>
                            </label>
                    </div>
                    <label for="inputPassword3" class="col"> :المبلغ الإجمالي بالريال<label>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="inputEmail3" class="col"> 30
                        </label>
                    </div>
                    <label class="col"> : صلاحية الحساب بالأيام</label>
                </div>
                <div class="form-group row">
            </form>
            <div class="col">
                <div>
                    <label for="inputEmail3" class="col">خمس اختبارات تجريبية</label>
                </div>
            </div>
            <label class="col">: الباقة تشمل</label>
        </div>
        <% } else { %>
            <label for="inputEmail3" class="col">
                <%= foundPayment.price %>
            </label>
            </div>
            <label for="inputPassword3" class="col"> :المبلغ الإجمالي بالريال<label>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="inputEmail3" class="col"> 65 </label>
                        </div>
                        <label class="col"> : صلاحية الحساب بالأيام</label>
                    </div>
                    <div class="form-group row">
                        </form>
                        <div class="col">
                            <div>
                                <label for="inputEmail3" class="col"> الدورة التدريبية + خمس
                                    اختبارات تجريبية </label>
                            </div>
                        </div>
                        <label class="col">: الباقة تشمل</label>
                    </div>
                    <% } %>
                        <h3 class="h3 mb-3 font-weight-normal text-center" id="title">بيانات الدفع</h3>
                        <script>
                            var wpwlOptions = {
                                style: "card"
                            }
                        </script>
                        <script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
                        <style>
                            .wpwl-form-card {
                                min-height: 0px !important;
                            }

                            .wpwl-label-brand {
                                display: none !important;
                            }

                            .wpwl-control-brand {
                                display: none !important;
                            }

                            .wpwl-brand-card {
                                display: block;
                                visibility: visible;
                                position: absolute;
                                right: 178px;
                                top: 45px;
                                width: 67px;
                                z-index: 10;
                            }

                            .wpwl-brand-MASTER {
                                margin-top: -10;
                                margin-right: -10;
                            }
                        </style>

                        <script>

                            var wpwlOptions = {
                                locale: "ar", //check if the store is in Arabic or English

                                onReady: function () {
                                    if (wpwlOptions.locale == "ar") {
                                        $(".wpwl-group").css('direction', 'ltr');
                                        $(".wpwl-control-cardNumber").css({ 'direction': 'ltr', "text-align": "right" });
                                        $(".wpwl-brand-card").css('right', '200px');
                                    }
                                }
                            }
                            wpwlOptions.applePay = {
                                merchantCapabilities: ["supports3DS"],
                                supportedNetworks: ["masterCard", "visa", "mada"]
                            }
                        </script>
                        <script src="https://oppwa.com/v1/paymentWidgets.js?checkoutId=<%= checkoutId %>"></script>
                        <form
                            action="https://www.samples10.com//success/<%= currentUser.id %>/<%= foundPayment.memberShip %>"
                            class="paymentWidgets" data-brands=" MADA APPLEPAY"></form>


                        <% include ../partails/footer.ejs %>

</body>